body{
    background-color:#F1F1F1;
}

.navbar-brand{
    line-height: 1.4rem;
    font-size: 14;
    font-weight: bold;
}

.card-4{
    position: relative;
    display: block;
    background-color: cadetblue;
    height: 580px;
}
.card{
    position: relative;
    display: block;
   
}


/* footer */
.semi-footer{
  background-color: #100627;
  color: #FFF;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.form-control {
    border-radius: 0%;
}

.searchb {
    border-radius: 0%;
}